apiVersion: networking.k8s.io/v1

kind: Ingress

metadata:
  namespace: opencloud
  name: opencloud-ingress

spec:
  ingressClassName: traefik
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: opencloud-app-service
                port:
                  number: 9200
