apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: nextcloud
  name: database-deployment
  labels:
    app: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: nextcloud-database
          image: postgres:18-alpine
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: database-data
              mountPath: /var/lib/postgresql
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_PASSWORD
      volumes:
        - name: database-data
          persistentVolumeClaim:
            claimName: database-pvc
