apiVersion: v1
kind: Service
metadata:
  namespace: nextcloud
  name: database-service
  labels:
    app: database
spec:
  selector:
    app: database
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
