apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: nextcloud
  name: app-deployment
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: nextcloud-app
          image: nextcloud:32
          ports:
            - containerPort: 80
          volumeMounts:
            - name: app-data
              mountPath: /var/www/html
          env:
            - name: POSTGRES_HOST
              value: postgres.nextcloud.svc.cluster.local
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-credentials
                  key: POSTGRES_PASSWORD
      volumes:
        - name: app-data
          persistentVolumeClaim:
            claimName: app-pvc
