# base/postgres-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:18-alpine
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: nextcloud
            - name: POSTGRES_USER
              value: nextcloud
            - name: POSTGRES_PASSWORD
              value: nextcloud
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-pvc
