apiVersion: kustomize.config.k8s.io/v1beta1

kind: Kustomization

resources:
  - ../../../base/argocd
  - ingress.yaml

patches:
  - target:
      kind: Deployment
      name: argocd-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: --insecure
